body{
	background-color: silver;
}
select option{
	line-height: 50px;
}
#checkk{
	margin-top: 20px;
	margin-left: 55px;

}
/*#graphtype{
-webkit-appearance:none;
background-image:url(drop.png);
background-repeat:no-repeat;
background-position: right center;
background-size: 22px;
}*/

#applybutt{
	margin-left: 30px;
}
/*#right{
	position: fixed;
}*/
#histwhat{
	width:435px;
}
#graphtype{
	margin-left: 30px;
}
/*#titlename,#xaxisname,#yaxisname{
	width:90%;
}
#yname,#xname,#title{
	width:650px;
}*/
#ywhat,#graphtype,#xwhat,#pieopt,#pieval,#pieval2,#ywhat1,#xwhat1,#zwhat{
	width:89%;
}
#ysel,#xsel,#pieopts,#pielabel,#pielabel2,#graphtypediv,#ysel1,#xsel1,#zsel{
	margin-right:90px;
	width:90%;
}
#whole{
	height: 500px;
	margin-top: 15px;

}
#container{
	width: 570px;
	/*height: 500px;*/
		overflow: auto;
	border-radius:10px;
		/*border-radius: 10px;*/
	/*float: left;*/
}
#left{
	float: left;
}
#right{
	float: right;
}
.hider{
	display: none;
}
#formm{
	margin-left: 160px;
	margin-top: 40px;
	margin-bottom: 40px;
}
label{
	margin-left:30px;
}
select{
	width: 90px;
	outline: none;
	border-radius: 6px;
	background-color: white;
}
#maindiv{
	/*width:100px;*/
	display: inline;
}
#butt{
	margin-left: 30px;
	height: 30px;
	margin-right:45px;
	outline: none;
	border-radius: 6px;
	margin-top: 10px;
	height: 45px;
	padding-top: 6px;
	font-size: 25px;
	width:80%;
	
	/*background-color: white;*/
	/*outline: thin;*/

}
#newmakkal{
	margin-left:30px; 
}
.container{
	margin-left: 90px;
	/*margin-bottom: 50px;*/
	border-radius: 6px;
	/*position: fixed;*/
	/*box-shadow:5px 10px #888888;*/
	background-color: #e4e7ed;
	width: 1150px;
	height: 610px;
	 box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;

}
td,th{
	/*border-bottom: 1px solid white;*/
	padding: 5px 5px 5px 5px;
}
table{
	border:1px solid white;
	text-align: center;
	border-radius: 15px;
	/*float: left;*/
}